:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bodyColor);
  transition: all 0.4s ease;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 50px;
}

.shades-container {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.shade-items {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.shade-name {
  font-weight: 600;
}

.shade-name,
.shade-item {
  text-transform: capitalize;
  aspect-ratio: 1/1;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 4px;
  text-align: right;
  overflow: hidden;
  transition: all 0.2s ease;
  cursor: pointer;
}

.shade-item:hover {
  z-index: 1;
  transform: scale(1.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.shade-item:active {
  transform: scale(0.8);
}

@media screen and (max-width: 1160px) {
  .shades-container {
    flex-wrap: wrap;
    gap: 24px;
    font-size: 16px;
  }
  .shade-items {
    min-width: 200px;
  }
  .shade-item {
    aspect-ratio: initial;
  }
}

@media screen and (max-width: 560px) {
  .shades-container {
    flex-wrap: wrap;
    gap: 24px;
    font-size: 16px;
  }
  .shade-items {
    min-width: 100%;
  }
}

.w-color-colorful {
  width: 100% !important;
}
.w-color-interactive.w-color-saturation {
  height: initial !important;
  aspect-ratio: 2/1;
}

.my-pallate-generator {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.my-color-picker {
  flex: 1;
}

.my-color-output {
  border-radius: 8px;
  flex: 1;
  aspect-ratio: 2/1;
}

.my-palette-info {
  margin-top: 24px;
  display: grid;
  gap: 24px;
  grid-template-areas:
    "code palette"
    "shades shades";
  grid-template-columns: 1fr 1fr;
}

.my-color-codes {
  grid-area: code;
  border: 1px solid #dedede;
  display: flex;
  flex-wrap: wrap;
}

.my-color-code {
  width: 50%;
  padding: 12px 12px;
  font-weight: 500;
  transition: all 0.3s ease;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.my-color-code:not(:last-child) {
  border-bottom-color: #dedede;
}

.my-color-code:hover {
  z-index: 1;
  transform: scale(1.07);
  border-color: #dedede;
  border-radius: 8px;
  background: #f7f7f7;
}

.my-color-code:active {
  transform: scale(0.95);
  background: #dedede;
}

.my-palette-colors {
  grid-area: palette;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  border: 1px solid #dedede;
  border-radius: 8px;
}

.my-palette-colors .shade-item {
  min-width: 33.33%;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  aspect-ratio: initial !important;
}

.my-palette-colors .shade-item > div:first-child {
  text-transform: capitalize;
}

.my-palette-colors .shade-item.light {
  color: black !important;
}

.my-palette-colors .shade-item:hover {
  z-index: 1;
  transform: scale(1.07);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.my-palette-colors .shade-item:active {
  transform: scale(0.9);
}

.my-shade-colors {
  grid-area: shades;
  display: flex;
}

li a.active {
  color: #0c80de !important;
}
